{% extends "base.html" %}
{% load static %}

{% block content %}
    <section id="homepage">
        <div class="container">
            {% if name %}
            <div class="row">
                <div class="col-12 my-auto centered message-col mt-5">
                    <h3 class="pt-3">Thanks {{ name }}!</h3>
                    <p>Your message has been sent. We will be in touch.</p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="home col-12 my-auto centered">
                    <img class="centered logo fade-in-element hidden" src="static/images/logo.svg" alt="AT Engineering Solutions Logo">
                    <h1 class="centered white-text main-header-text fade-in-element hidden">AT Engineering Solutions</h1>
                    <a name="homepage"><h2 class="centered white-text fade-in-element hidden">Quality Bespoke Welding and Engineering</h2></a>
                    <p class="centered pt-5 fade-in-element hidden"><a href="#contact" class="quote-btn">CONTACT US FOR A FREE QUOTE</a></p>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-12 my-auto centered">
                    <img class="prev-work img-one hidden" src="static/images/01.png" alt="AT work">
                    <img class="prev-work img-three hidden" src="static/images/03.png" alt="AT work">
                    <img class="prev-work img-two hidden" src="static/images/02.png" alt="AT work">
                </div>
                <div class="col-12 my-auto centered">
                    <a name='about'><h2 class="subheader pb-3 hidden">High quality services from expert engineers</h2></a>
                    <p class="hidden">We are AT Engineering Solutions, a bespoke metal work team based in Scarborough, North Yorkshire. With many years of experience in offering high 
                        quality welding and engineering services, we take on jobs of all sizes and types ensuring your needs are met to the highest of standards.
                    </p>
                    <p class="hidden">We are happy to provide a free quote on request. Just give us a call, or</p>
                    <p class="hidden pt-3"><a class="quote-btn" href="#contact">use our enquiry form.</a></p>
                </div>
            </div>
        </div>
    </section>

    <section id="work">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-12 my-auto centered">
                    <a name='work'><h3 class="white-text subheader pb-3">Our Work</h3></a>
                    <div class="elfsight-app-0d100de0-e912-4a38-a1dd-9ae65249c395"></div>
                </div>
                <div class="col-12 my-auto centered">
                    <p><a class="quote-btn" href="#contact">Contact us for a free quote</a></p>
                </div>
            </div>
        </div>
    </section>

    <section id="reviews">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-12 my-auto centered">
                    <img class="prev-work img-one hidden" src="static/images/04.png" alt="AT work">
                    <img class="prev-work img-three hidden" src="static/images/05.png" alt="AT work">
                    <img class="prev-work img-two hidden" src="static/images/06.png" alt="AT work">
                </div>
                <div class="col-12 my-auto centered">
                    <a name='reviews'><h3 class="white-text subheader hidden">Customer Reviews</h3></a>
                </div>
                <div class="col-12 my-auto centered">
                    <div class="carousel-items pt-3 hidden">
                        {% for review in reviews %}
                            <div class="p-3">
                                <h3 class="review">"{{ review.review }}"</h3>
                                <h5 class="reviewer">{{ review.name }}</h5>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 my-auto centered pb-5">
                    <p class="hidden"><a class="quote-btn" href="#contact">Contact us for a free quote</a></p>
                </div>
            </div>
        </div>
    </section>


    <section id="contact">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-12 my-auto centered">
                    <img class="prev-work img-one" src="static/images/07.png" alt="AT work">
                    <img class="prev-work img-three" src="static/images/08.png" alt="AT work">
                    <img class="prev-work img-two" src="static/images/09.png" alt="AT work">
                </div>
                <div class="col-12 my-auto centered pb-3">
                    <a name='contact'><h3 class="subheader">Contact Us</h3></a>
                    <p>Please don’t hesitate to contact us for a free quotation.</p>
                </div>
                <div class="col-12 col-md-6 pt-3">
                    <p><a class="black-text" href="tel:+07825178176"><i class="ri-phone-fill"></i> 07825 178176</a></p>
                    <p><a class="black-text" href="mailto:atengineeringsolutions@gmail.com" subject="Quote"><i class="ri-mail-fill"></i> atengineeringsolutions@gmail.com</a></p>
                    <p><a class="black-text" href="https://goo.gl/maps/5DEZDeQVYhi82nZK7" target="_blank"><i class="ri-home-4-fill"></i> 126 Victoria Road, Scarborough, North Yorkshire, YO11 1SL</a></p>
                    <p><a class="black-text" href="https://www.facebook.com/atengineeringsolutions/" target="_blank"><i class="ri-facebook-circle-fill"></i> Find us on Facebook</a></p>
                    <p><a class="black-text" href="https://www.instagram.com/atengineeringsolutions/" target="_blank"><i class="ri-instagram-fill"></i> Find us on Instagram</a></p>
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2329.3284627104176!2d-0.4096407844422999!3d54.2804564801854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487f478cd3bb1839%3A0x653a8dd649f3d1bd!2s126%20Victoria%20Rd%2C%20Scarborough%20YO11%201SW!5e0!3m2!1sen!2suk!4v1624546984863!5m2!1sen!2suk" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="col-12 col-md-6 form-bit">
                    <strong class="form-text black-text">Or use our enquiry form. </strong>
                    <form action="{% url 'home' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group"> 
                            <input type="name" name="name" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="number" name="number" class="form-control" id="number" placeholder="Telephone Number">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" type="message" name="message" id="message" rows="5" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                </div>
            </div>
            <br>
            <br>
        </div>
    </section>
{% endblock %}