/* --------------------------------------------------------- Sitewide */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.centered {
    text-align: center;
}

.white-text {
    color: white;
    text-shadow: 2px 2px 5px black;
}

.black-text {
    color: #212529;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
}

.footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    line-height: 60px;
    background-color: whitesmoke;
}

.quote-btn {
    color: #212529;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

.quote-btn:hover {
    background-color: rgb(255, 166, 0);
    color: #212529;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
}

/* --------------------------------------------------------- Homepage */

#homepage {
    background: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.home {
    padding-top: 200px !important;
}

.logo-bg {
    max-width: 90vw;
    text-shadow: 2px 2px 5px black;
}

.logo-sm {
    max-width: 70vw;
    text-shadow: 2px 2px 5px black;
}

/* --------------------------------------------------------- About */

#about {
    background-color: #50b7c7;
    background-image: linear-gradient(19deg, #50b7c7 0%, #DDD6F3 100%);
    min-height: 70vh;
}



/* --------------------------------------------------------- Work */

#work {
    background-color: #1c1f2c;
    min-height: 70vh;
}

/* --------------------------------------------------------- Reviews */

#reviews {
    background-color: #435a7d;
    background-image: linear-gradient(135deg, #435a7d 0%, #0c153b 100%);
    min-height: 70vh;
}

.review {
    color: #d4b00d !important;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px black !important;
}

.reviewer {
    color: #d4d4d4 !important;
    text-shadow: 2px 2px 5px black !important;
}

/* --------------------------------------------------------- Contact */

#contact {
    background-color: whitesmoke;
    min-height: 70vh;
}

.form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* --------------------------------------------------------- Media Queries */

@media (min-width: 675px) {
    .logo {
        max-width: 70vw;
        text-shadow: 2px 2px 5px black;
    }
}
