/* --------------------------------------------------------- Sitewide */

html {
    min-width: 100% !important;
    min-height: 100% !important;
}

body {
    min-width: 100% !important;
    min-height: 100% !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.centered {
    text-align: center;
}

.text-right {
    text-align: right;
}

.white-text {
    color: white;
    text-shadow: 2px 2px 5px black;
}

.black-text {
    color: #212529;
}

a {
    text-decoration: none;
}

.div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

a:hover {
    text-decoration: none;
    color: rgb(255, 166, 0);
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
}

#topnav {
    background-color: rgb(34, 40, 126);
    color: white;
    width: 100%;
    height: 60px;
    line-height: 60px;
    z-index: 999;
    padding: 0;
    margin: 0;
}

.nav-item {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

.align-items-right {
    align-items: flex-end;
}

.footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    line-height: 60px;
    background-color: rgb(34, 40, 126);
}

.main-footer {
    display: none;
}
.mini-footer {
    display: inline;
    font-size: 0.8rem;
}

.quote-btn {
    color: #212529;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Bebas Neue', cursive;
}

.quote-btn:hover {
    background-color: rgb(255, 166, 0);
    font-family: 'Bebas Neue', cursive;
    color: white;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
}

.subheader {
    font-size: 2.5rem;
}

.message-col {
    background-color: rgb(255, 166, 0);
    padding-top: 10px;
    padding-bottom: 10px;
}

/* --------------------------------------------------------- Homepage */

#homepage {
    background: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
   
}

.main-header-text {
    font-size: 3.5rem;
}

.home {
    padding-top: 100px !important;
}

.logo {
    width: 150px;
    height: 150px;
}

/* --------------------------------------------------------- About */

#about {
    background-color: #50b7c7;
    background-image: linear-gradient(19deg, #50b7c7 0%, #DDD6F3 100%);
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.prev-work {
    width: 300px;
    height: 300px;
    padding: 30px;
}

.img-one {
    display: none;
}

.img-two {
    display: none;
}

/* --------------------------------------------------------- Work */

#work {
    background-color: #1c1f2c;
    min-height: 90vh;
    display: flex;
    align-items: center;
}

/* --------------------------------------------------------- Reviews */

#reviews {
    background-color: #435a7d;
    background-image: linear-gradient(135deg, #435a7d 0%, #0c153b 100%);
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.review {
    color: #d4b00d !important;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px black !important;
}

.reviewer {
    color: #d4d4d4 !important;
    text-shadow: 2px 2px 5px black !important;
}

.slick-next:before {
    content: none !important;
}

.slick-prev:before {
    content: none !important;
}

/* --------------------------------------------------------- Contact */

#contact {
    background-color: whitesmoke;
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.map {
    width: 250px;
    height: 250px;
}

.form-bit {
    padding-top: 30px;
}

.form-text {
    display: inline;
    font-size: large;
}

/* --------------------------------------------------------- Media Queries */

@media (min-width: 675px) {
    .logo {
        width: 300px;
        height: 300px;
    }
    .nav-item {
        font-size: 1.5rem;
        padding-left: 20px;
        padding-right: 20px;
    }
    .main-header-text {
        font-size: 5rem;
    }
    .map {
        width: 300px;
        height: 300px;
    }
    .home {
        padding-top: 200px !important;
    }
    .form-bit {
        padding-top: 0;
    }
    
    .form-text {
        display: none;
    }
}

@media (min-width: 765px) {
    .img-two {
        display: inline;
    }
    .main-footer {
        display: inline;
    }
    .mini-footer {
        display: none;
    }
}

@media (min-width: 993px) {
    .img-one {
        display: inline;
    }
}